SEED: 1999

MODEL:
  META_ARCHITECTURE: "SparseRCNN"
  WEIGHTS: "./pretrained/r50_100pro_3x_model.pth"

  BACKBONE:
    NAME: "build_resnet_fpn_backbone"

  RESNETS:
    DEPTH: 50
    STRIDE_IN_1X1: False
    OUT_FEATURES: ["res2", "res3", "res4", "res5"]

  FPN:
    IN_FEATURES: ["res2", "res3", "res4", "res5"]

  ROI_HEADS:
    IN_FEATURES: ["p2", "p3", "p4", "p5"]

  SparseRCNN:
    NUM_PROPOSALS: 100
    NUM_CLASSES: 7

DATASETS:
  TRAIN: ("spine_train",)
  TEST:  ("spine_test",)

DATALOADER:
  REPEAT_THRESHOLD: 0.1
  NUM_WORKERS: 2
  FILTER_EMPTY_ANNOTATIONS: True

SOLVER:
  IMS_PER_BATCH: 2
  BASE_LR: 0.0001
  MAX_ITER: 50000
  STEPS: (30000,)
  CHECKPOINT_PERIOD: 10000
  CLIP_GRADIENTS:
    ENABLED: True

TEST:
  EVAL_PERIOD: 500

OUTPUT_DIR: "./outputs/spine_sparsercnn"