SEED: 1999

MODEL:
  META_ARCHITECTURE: "SparseRCNN"

  WEIGHTS: "./pretrained/r101_300pro_3x_model.pth"

  RESNETS:
    DEPTH: 101
    STRIDE_IN_1X1: False

  SparseRCNN:
    NUM_PROPOSALS: 300
    NUM_CLASSES: 7

DATASETS:
  TRAIN: ("spine_train",)
  TEST:  ("spine_test",)

DATALOADER:
  REPEAT_THRESHOLD: 0.1
  NUM_WORKERS: 2
  FILTER_EMPTY_ANNOTATIONS: True

SOLVER:
  IMS_PER_BATCH: 2
  BASE_LR: 0.0001
  MAX_ITER: 50000
  STEPS: (30000,)
  CHECKPOINT_PERIOD: 1000
  CLIP_GRADIENTS:
    ENABLED: True

TEST:
  EVAL_PERIOD: 500

OUTPUT_DIR: "./outputs/spine_sparsercnn_r101"
