SEED: 1999

MODEL:
  META_ARCHITECTURE: "SparseRCNN"
  WEIGHTS: "./pretrained/r50_100pro_3x_model.pth"

  BACKBONE:
    NAME: "build_resnet_fpn_backbone"
  RESNETS:
    DEPTH: 50
    STRIDE_IN_1X1: False
    OUT_FEATURES: ["res2", "res3", "res4", "res5"]
    NORM: "FrozenBN"
  FPN:
    IN_FEATURES: ["res2", "res3", "res4", "res5"]
  ROI_HEADS:
    IN_FEATURES: ["p2", "p3", "p4", "p5"]
  SparseRCNN:
    NUM_PROPOSALS: 100
    NUM_CLASSES: 7
    NUM_HEADS: 6

DATASETS:
  TRAIN: ("spine_train",)
  TEST:  ("spine_test",)

DATALOADER:
  NUM_WORKERS: 8 
  REPEAT_THRESHOLD: 0.5
  FILTER_EMPTY_ANNOTATIONS: True

SOLVER:
  IMS_PER_BATCH: 4
  BASE_LR: 0.000025
  
  MAX_ITER: 420000
  
  STEPS: (335000, 380000)
  
  WARMUP_FACTOR: 0.01
  WARMUP_ITERS: 1000
  
  CLIP_GRADIENTS:
    ENABLED: True
    CLIP_TYPE: "full_model"
    CLIP_VALUE: 1.0
    NORM_TYPE: 2.0

  OPTIMIZER: "ADAMW"
  WEIGHT_DECAY: 0.0001
  
  CHECKPOINT_PERIOD: 84000

INPUT:
  MIN_SIZE_TRAIN: (640, 672, 704, 736, 768, 800)
  MAX_SIZE_TRAIN: 1333
  MIN_SIZE_TEST: 800
  MAX_SIZE_TEST: 1333
  RANDOM_FLIP: "horizontal"

TEST:
  EVAL_PERIOD: 10000

OUTPUT_DIR: "./outputs/spine_sparsercnn"